.myCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
}
.myCart h2{
    font-family: 'poppins', sans-serif;
}
.myCart i{
    font-size: 25px;
}
.cart-container h4{
    font-weight: 500;
}
.cart-container{
    background-color: #80808047;
    height: 100vh;
}
.empty-cart-box img{
    width: 100%;
}
.empty-cart-box span {
    background-color: orange;
    padding: 10px 30px;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
}
.cart-wrap{
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
}
.cart-wrap .container{
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}
.cart-wrap .product-image {
    width: 90px;
    height: 105px;
    border: 1px solid #8080805e;
}
.actual-value{
    color: grey;
    margin-left: 5px;
    margin-right: 2px;
}
.cart-wrap .price{
    text-align: start;
}
.quantity{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.container2 .quantity button {
    width: 20px;
    height: 20px;
    background-color: orange;
    border: none;
}
.container2 .quantity p {
    width: 20px;
    height: 20px;
}
.container3 {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-container .pricing{
    font-weight: 500;
}
.rating-stars{
    color: rgb(35 187 117);
    font-family: 'poppins', sans-serif;
}
.remove-btn{
    border: none;
    background-color: #ffffff00;
    padding: 10px 25px;
    border-right: 1px solid #8080805e;
    font-weight: 700;
    color: gray;
}
.buy-btn{
    color: gray;
    border: none;
    background-color: #ffffff00;
    padding: 10px 15px;
    font-weight: 700;
}
.remove-buy{
    border: 1px solid #8080805e;
}
.place-order{
    position: fixed;
    bottom: 0;
    left: 0 ;
    width: 100%;
    background-color: #ffa60040;
    padding: 8px 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(243, 111, 17, 0.454);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.place-order span{
    font-weight: 500;
    font-size: 18px;
    color: #000;
}
.place-order button{
    border: none;
    background-color: yellow;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}